@font-face {
  font-family: "Ibm Implex Mono";
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/ibm-plex-mono-latin_cyrillic-500.woff2) format("woff2");
  src: url(../fonts/ibm-plex-mono-latin_cyrillic-500.woff) format("woff");
  font-display: swap;
}
