html {
  position: relative;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  background-color: #000;
  color: #fff;
  min-width: 320px;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  background-image: linear-gradient(
      181.78deg,
      rgba(0, 0, 0, 0) 49.38%,
      rgba(0, 0, 0, 0.42) 98.49%
    ),
    url(../img/background.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
p,
figure {
  margin: 0;
}

iframe {
  border: none;
}

.container {
  max-width: 1172px;
  margin: auto;
  padding: 0 31px;
}

@media (min-height: 900px) {
  .page {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 1000px) {
  body {
    font-size: 16px;
  }
  .page::before {
    right: 0;
    height: calc(100% - 90px);
  }
}

@media (max-width: 850px) {
  .container {
    padding: 0 39px;
  }
  .page::before {
    top: 109px;
    bottom: auto;
    height: 448px !important;
  }
}

@media (max-width: 650px) {
  .container {
    padding: 0 25px;
  }
}
@media (max-width: 480px) {
  body {
    font-size: 14px;
  }
  .container {
    padding: 0 15px;
  }
  .page::before {
    top: 49px;
    height: 258px !important;
  }
}
