.present {
  padding-top: 7px;
}
.present__title {
  font-family: "Ibm Implex Mono", sans-serif;
  font-weight: 500;
  font-size: 90px;
  line-height: 120%;
  margin-bottom: 8px;
}
.present__tagline {
  font-size: 20px;
  line-height: 130%;
  margin-bottom: 54px;
  max-width: 350px;
}
.present__btn {
  display: block;
  width: 285px;
  height: 68px;
  background-image: url("../img/button.png");
  -webkit-filter: drop-shadow(-4px 6px 10px rgba(10, 10, 10, 0.51));
  filter: drop-shadow(-4px 6px 10px rgba(10, 10, 10, 0.51));
  border-radius: 2px;
  background-position: center;
  background-size: cover;
}

.present__hero {
  margin-bottom: 30px;
}

.page {
  position: relative;
}
.page::before {
  content: "";
  position: absolute;
  right: 96px;
  bottom: 0;
  width: 100%;
  height: calc(100% - 115px);
  background-image: url("../img/geralt-bg.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: contain;
  z-index: -1;
}

@media (min-height: 900px) {
  .present {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
  .present__container {
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-height: 1100px;
  }
}
@media (max-width: 1000px) {
  .present {
    padding-top: 25px;
  }

  .present__hero {
    margin-bottom: 10px;
  }
  .present__title {
    font-size: 70px;
  }
  .present__tagline {
    max-width: 290px;
    margin-bottom: 28px;
    font-size: 16px;
  }
  .present__btn {
    width: 246px;
    height: 59px;
  }
}
@media (max-width: 850px) {
  .present {
    padding-top: 58px;
  }
  .protect__hero {
    margin-bottom: 0;
  }
  .present__title {
    font-size: 60px;
  }
  .present__tabs {
    margin-top: -26px;
  }
}
@media (max-width: 650px) {
  .present {
    padding-top: 75px;
  }
  .present__title {
    font-size: 50px;
    margin-bottom: 6px;
  }
  .present__hero {
    margin-bottom: 30px;
  }
  .present__tagline {
    max-width: 260px;
    margin-bottom: 23px;
  }
  .present__btn {
    width: 290px;
    height: 63px;
  }
  .present__tabs {
    margin-top: 0;
  }
}
@media (max-width: 480px) {
  .present {
    padding-top: 75px;
  }
  .present__title {
    font-size: 40px;
  }
  .present__tagline {
    max-width: 190px;
    font-size: 12px;
  }
}
