.tabs__control {
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 13px 22px;
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  max-width: 285px;
  margin-left: auto;
  color: #fff;
  margin-bottom: 12px;
}
.tabs__btn {
  color: inherit;
  border-bottom: 2px solid transparent;
  transition: border-color 0.3s ease-in-out;
}
.tabs__btn_active {
  border-color: #fff;
}
.tabs__content {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
